.btn {
  padding: 10px;
  border: none;
  color: #7a7a7a;
  font-weight: 700;
  font-style: oblique;
  width: 100px;

  &#clear {
    float: right;
    margin-top: 10px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: #c9c7c7;
    color: #5c5b5b;
  }
}

input {
  border: 1px solid gainsboro;
  text-indent: 10px;
  color: #5c5b5b;
  height: 35px;
  width: calc(100% - 100px);
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &[type='checkbox'] {
    height: auto;
    width: auto;
  }
}

label {
  font-size: 24px;
  padding-left: 10px;
}

.todo {
  color: #5c5b5b;
  font-style: italic;
}

.todos {
  padding: 40px;
}

.todo-count {
  font-style: oblique;
  color: #9e9180;
  font-size: 18px;
}
